@model Category
@{
    ViewData["Title"] = "Detail";
}

<div class = "main-panel">
    <div class = "d-flex">
        <h4 class = "text-warning">Image:</h4>
        <img src = "~/assets/img/category/@Model.Image" />
    </div>
    <div class = "mt-3 d-flex">
        <h4 class = "text-warning">Name:</h4>
        <h3>@Model.Name</h3>
    </div>
</div>