@model Color
@{
    ViewData["Title"] = "Update";
}

<div class = "main-panel">
    <div class = "content-wrapper">
        <div class = "row">
            <div class = "col-lg-12 grid-margin stretch-card">
                <div class = "card">
                    <div class = "card-body">
                        <form method = "post" enctype = "multipart/form-data">
                            <div>
                            <h2 style = "color:green">Update Color</h2>
                        </div>
                        <div class = "mt-2">
                            <label asp-for = "Name">Name:</label><br />
                            <input asp-for = "Name" class = "form-control"/>
                            <span asp-validation-for = "Name" class = "text text-danger"></span>
                        </div>
                        <div class = "mt-3">
                            <button class = "btn btn-success" style = "color:white" type = "submit">Update</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>